.list-categories {
    display: flex;

    margin: 0 auto;
}
.item-categories {
    float: left;
    width: 300px;
    margin: 10px 5px;
    height: 100px;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    text-shadow: black 0 0 2px;
}
.item-categories:hover {
    opacity: 0.7;
}
.item-categories:active {
    color: rgb(0, 0, 0);
}
.maps-content {
    border-radius: 25px;
}
.maps-block {
    height: 60vh;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
}
